<html ng-app="karla">
<head>
	<meta charset="UTF-8">
	<title>Karla Villa</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
</head>
<body>
	<div class"container">
		<div class="col-lg-12" ng-controller="KarlaController as bio">
			<h1>{{bio.person.name}}</h1>
			<h2>{{bio.person.price}}</h2>
			<p>{{bio.person.description}}</p>

			<input type="search" ng-model="buscaPais" class="form-control">

			<div ng-repeat="pais in bio.countries | filter:buscaPais">
				<li>{{ pais.name }}</li>
			</div>

		</div>
		<hr>



		<div ng-controller="StoreController as store">
			<div class="row" ng-repeat="product in store.products">
				<div class="col-lg-4">
					<h1>{{product.name}}</h1>
					<img class="img-responsive" ng-src="{{product.images[0].full}}"/>
					<h2>{{product.price | currency }}</h2>
					<p>{{product.description}}</p>
					<button class="btn-lg-primary" ng-show="product.canPurchase">Comprar!</button>
				</div>
			</div>
		</div>


	</div>




	<script src="js/main.js"></script>
</body>
</html>