#subcategory-cms-banner { margin-left: 212px; }

.headerBrands { width: 715px; height: 235px; margin: 10px 0px 20px 0px; }
.headerBrands .between { border-right-style: dotted; border-right-width: 1px; }
.headerBrands .menuSpace { width: 392px; padding-left: 10px; padding-top: 60px; float: left; position: relative; }
.headerBrands .menuSpace .col { width: 104px; float: left; padding-left: 10px; padding-right: 10px; margin-bottom: 15px; }
.headerBrands .menuSpace .col ul { padding: 0px; }
.headerBrands .menuSpace .col .category { font-family: function-pro; font-weight: lighter; font-size: 15px; text-transform: uppercase; text-decoration: none; display: block; }
.headerBrands .menuSpace .col .subcategory ul, .headerBrands .menuSpace .col .subcategory li { font-family: function-pro; font-weight: lighter; font-size: 15px; text-transform: capitalize; color: #fff; list-style: none; padding-left: 0px; position: relative; }
.headerBrands .menuSpace .col .subcategory ul a, .headerBrands .menuSpace .col .subcategory li a { text-decoration: none; }
.headerBrands .menuSpace .col .subcategory li:before { content: ""; }
