// Styles

// Colors
$dark-blue:#336699;
$medium-blue:#6699CC;
$brown:#D9A273;
$white:#F2F2F2;
$pink:#D93250;

.img-responsive{
	display: inline;
}

body{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

.first{
	background-color: $white;
}
.first-text{
	color:$medium-blue;
	font-size: 60px;
}

.second{
	background-color: $medium-blue;
}

.second-text{
	color:$dark-blue;
	font-size: 60px;
}

.img-second{
	padding: 50px;
}

.third{
	background-color: $dark-blue;
}
.third-text{
	color:$light-blue;
	font-size: 60px;
}
.fourth{
	background-color: $brown;
}

.fifth{
	background-color: $pink;
}