body { background-color: #333333; color: #FF7D7C; font-family: 'Vollkorn', serif; text-align: center; }

.karla h1 { font-size: 124px; font-weight: lighter; }
.karla .titles { height: 140px; }
.karla .subtitles { font-style: italic; font-size: 42px; color: #5B5B5B; }
