$link-color:#919191;
$grey:#333333;
$pink: #fa674f;
$primary-color: $grey;
$secondary-color: $pink;

h1,h2,h3,h4,h5{
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	text-transform: uppercase;
}

.navbar-inverse{
	background-color: $primary-color;
	color:$pink;
	a{
		color:$pink;
	}
}

.navbar-header{
	h3{
		margin-top:15px;
		color:$pink;
		a{
			color:$pink;
		}
	}
}

.navbar-brand{
	padding: 0px 0px;
	h3{
		margin-top: 0px;
		margin-bottom: 0px;
		font-size: 18px;
	}
}

.nav{
	padding-top: 6px;
	padding-left: 25px;
	li{
		padding-right: 10px;
	}

	a{
		color:$link-color;
		&:hover{
			text-decoration: none;
		}
	}
}