body{
    background-color: #7d92ca;
}


#container {
    height: 900px;
    width: 100%;
    // overflow: hidden;
    margin: 0px auto;
}

#box {
    margin: auto;
    -webkit-animation-name: move;
    -webkit-animation-duration: 261s;
    -webkit-animation-iteration-count: infinite;
    // -webkit-animation-direction: bottom;
    -webkit-animation-timing-function: linear;

    img{
        margin: auto;
    }
}

#box:hover {
    // -webkit-animation-play-state: paused;
}

@-webkit-keyframes move {
    0% {
        margin-top: 0px;
    }
    100% {
        margin-top: -3695px;
    }
}